VITE_FIREBASE_API_KEY="AIzaSyBA0VgDHjcbY77Qdfw8tFZqjNkmPD-5Jao"
VITE_FIREBASE_AUTH_DOMAIN="mt-crm-platform.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="mt-crm-platform"
VITE_FIREBASE_STORAGE_BUCKET="mt-crm-platform.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="111526186820"
VITE_FIREBASE_APP_ID="1:111526186820:web:6e5b8d60acc80a2f75d111"
VITE_FIREBASE_MEASUREMENT_ID="G-9Z3KZ5Q6
